.calculator__price {
  font-family: 'Zen Antique';
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 1024px) {
  .calculator__price {
    font-size: 28px;
  }
}