.reviews__mid-block {
  width: calc(100% - 66px);
  height: 18px;
  position: absolute;
  top: -18px;
  left: 33px;
  background-color: #fff;
  -webkit-box-shadow: 0px -16px 10px -9px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -16px 10px -9px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -16px 10px -9px rgba(0, 0, 0, 0.24);
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .reviews__mid-block{
    height: 9px;
    top: -9px;
  }  
}