.portfolio__items {
  width: 100%;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  gap: 40px;
}

@media screen and (max-width: 1600px) {
  .portfolio__items {
    gap: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .portfolio__items {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__items {
    margin-bottom: 20px;
    gap: 10px;
  }
}