.service__icon {
  width: 27px;
  min-width: 27px;
  height: 40px;
  background-image: url(../../../images/chess-icon-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 1850px) {
  .service__icon {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1680px) {
  .service__icon {
    margin-right: 20px;
  }
}

@media screen and (max-width: 650px) {
  .service__icon {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    width: 9px;
    min-width: 9px;
    height: 14px;
    min-height: 14px;
  }
}