.team__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, auto));
  grid-template-rows: max-content;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .team__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .team__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .team__items {
    gap: 10px;
  }
}