.reviews {
  display: flex;
  width: 100%;
  background-image: url(../../images/reviews-bg.png);
  background-size: contain;
  background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .reviews {
    margin-bottom: 40px;
  }  
}