.team__title {
  margin: 0 auto 20px 0;
}

@media screen and (max-width: 1650px) {
  .team__title:before {
    content: url(../../../images/before-content.png);
    top: 5px;
    left: -60px;
    opacity: 1;
    margin-right: 22px;
  }
}

@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 10px;
  }
}