.popup__container {
  position: relative;
  background-color: #fff;
  width: 960px;
  display: flex;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background: #0A1921;
  border: 2px solid #BB8E5D;
  box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}