.popup__container {
  position: relative;
  background-color: #fff;
  width: 600px;
  display: flex;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background: #0A1921;
  border: 2px solid #BB8E5D;
  box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .popup__container {
    
  }
}

@media screen and (max-width: 800px) {
  .popup__container {
    flex-direction: column;
    width: calc(100% - 40px);
  }
}