.reviews__lower-block {
  width: calc(100% - 132px);
  height: 18px;
  position: absolute;
  top: -34px;
  left: 66px;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .reviews__lower-block{
    height: 9px;
    top: -18px;
  }  
}