.process__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  row-gap: 90px;
  grid-auto-flow: column;
  column-gap: 125px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .process__items {
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .process__items {
    gap: 30px;
    grid-template-columns: 1fr;
    grid-auto-flow: inherit;
    margin-bottom: 0;
  }
}