.scheme__paragraph {
  margin: 0 0 73px 0;
}

@media screen and (max-width: 1024px) {
  .scheme__paragraph {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .scheme__paragraph {
    margin: 0 20px 20px;
  }
}