.popup__image_type_consultation {
  width: 560px;
}

@media screen and (max-width: 960px) {
  .popup__image_type_consultation {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .popup__image_type_consultation {
    width: 40%;
    margin: 20px auto;
  }
}
