.service__item-info {
  margin: auto auto auto 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .service__item-info {
    flex-direction: column;
    margin: 0 auto;
  }
}