.popup__elipse_type_top {
  background-image: url(../../../../images/spinner-elipse.png);
  top: -22px;
  right: calc(50% - 5px);
}

@media screen and (max-width: 768px) {
  .popup__elipse_type_top {
    top: -14px;
    right: calc(50% - 4px);
  }
}