.advantages__title {
  margin: 0 0 30px 0;
}

@media screen and (max-width: 1024px) {
  .advantages__title {
    margin-bottom: 16.5px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__title {
    margin: 0 auto 10px 0;
  }
}