.footer__container {
  width: 1680px;
  margin: 41px auto 10px auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1830px) {
  .footer__container {
    width: 91.5%;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    width: calc(100% - 40px);
    margin-top: 25px;
  }
}