.reviews__title {
  position: relative;
  max-width: 464px;
  margin: 0 auto 0 0;
  text-transform: uppercase;
}

.reviews__title:before {
  content: url(../../../images/before-content.png);
  top: -60px;
  left: -60px;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 120px;
  letter-spacing: 0.05em;
  line-height: 156px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .reviews__title {
    text-align: left;
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 38px;
  }  
}

@media screen and (max-width: 768px) {
  .reviews__title {
    max-width: 150px;
  }

  .reviews__title:before {
    content: url(../../../images/before-content-mobile.png);
    top: -90px;
    left: -30px;

  }
}