.reviews__title {
  position: relative;
  max-width: 464px;
  margin: 0 auto 0 0;
}

.reviews__title:before {
  content: '"';
  top: -10px;
  left: -60px;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 120px;
  letter-spacing: 0.05em;
  line-height: 156px;
  color: #fff;
}