.questions__list-item {
  border-top: 0.5px solid #FFFFFF;
  box-sizing: border-box;
  padding: 50px 30px;
}

.questions__list-item:last-of-type {
  border-bottom: 0.5px solid #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .questions__list-item {
    padding: 20px;
  }
}