.header__link {
  display: block;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.header__link:after {
  display:block;
  content: '';
  border-bottom: solid 1px #BB8E5D;  
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
}

.header__link:hover:after {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .header__link:before {
    content: url(../../../images/menu-icon-mobile.png);
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }
}