.reviews__buttons {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .reviews__buttons {
    justify-content: center;
  }  
}

@media screen and (max-width: 768px) {
  .reviews__buttons {
    display: none;
  }  
}