.clients {
  max-width: 1440px;
  margin: 0 auto 100px auto;
}

@media screen and (max-width: 1830px) {
  .clients {
    width: 85%;
  }
}


@media screen and (max-width: 768px) {
  .clients {
    width: calc(100% - 40px);
    margin-top: 25px;
    margin-bottom: 40px;
  }
}