.services__mask {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 25, 33, .8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}