.header__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 4px;
  overflow: hidden;
  text-decoration: none;
}

.header__phone:after {
  display:block;
  content: '';
  border-bottom: solid 1px #BB8E5D;  
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
}

.header__phone:hover:after {
  transform: translateX(0);
}

.header__phone:hover {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .header__phone {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .header__phone {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
