.team__paragraph {
  position: relative;
  margin: 0 0 72px 0;
  opacity: .6;
}

.team__paragraph:before {
  content: url(../../../images/before-content.png);
  top: 5px;
  left: -60px;
  position: absolute;
  opacity: 1;
}

@media screen and (max-width: 1650px) {
  .team__paragraph:before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .team__paragraph {
    margin-bottom: 20px;
  }
}