.popup__image-block {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .popup__image_block {
    width: 58%;
  }
}

@media screen and (max-width: 800px) {
  .popup__image_block {
    padding: 15px;
    width: 100%;
  }
}