.search__container {
  box-sizing: border-box;
  width: 1680px;
  margin: 0 auto;
}

@media screen and (max-width: 1830px) {
  .search__container {
    width: 91.5%;
  }
}

@media screen and (max-width: 1024px) {
  .search__container {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .search__container {
    width: 100%;
  }
}