.intro__invisible-oject {
  width: 250px;
  height: 200px;
  background-color: transparent;
  min-width: 250px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 1308px) {
  .intro__invisible-oject {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1270px) {
  .intro__invisible-oject {
    min-width: 180px;
    width: 180px;
    height: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .intro__invisible-oject {
    min-width: 160px;
    width: 160px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .intro__invisible-oject {
    width: 60px;
    min-width: 60px;
  }
}

@media screen and (max-width: 450px) {
  .intro__invisible-oject {
    width: 40px;
    min-width: 40px;
  }
}