.intro__invisible-oject {
  width: 250px;
  height: 200px;
  background-color: transparent;
  min-width: 250px;
}

@media screen and (max-width: 1308px) {
  .intro__invisible-oject {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .intro__invisible-oject {
    min-width: 140px;
    width: 140px;
    height: 100px;
  }
}