.intro {
  background-image: url(../../images/intro-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  width: 100%;
  margin: 0 auto 189px auto;
  display: flex;
  box-sizing: border-box;
}