.calculator__select-block {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: transparent;
}

.calculator__select-block:after {
  content: url(../../../images/arrow-left.png);
  transform: rotate(-90deg);
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 35px;
  right: 35px;
}