.navigation__icon {
  width: 10px;
  height: 15px;
  background-image: url(../../../images/menu-icon-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .navigation__icon {
    width: 6px;
    height: 9px;
  }
}