.popup__image {
  object-fit: cover;
  width: 100%;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .popup__image {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 430px) {
  .popup__image {
    margin: 0;
  }
}

