.calculator__paragraph {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .calculator__paragraph {
    font-size: 10px;
  }
}