.calculator__selects {
  box-sizing: border-box;
  padding: 50px 70px;
  box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.1);
  background-color: rgba(10, 25, 33, .2);
  height: 296px;
}

@media screen and (max-width: 1500px) {
  .calculator__selects {
    padding: 50px;
  }
}

@media screen and (max-width: 1400px) {
  .calculator__selects {
    padding: 30px;
    height: 240px;
  }
}

@media screen and (max-width: 1280px) {
  .calculator__selects {
    height: 390px;
  }
}

@media screen and (max-width: 1024px) {
  .calculator__selects {
    padding: 20px;
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  .calculator__selects {
    box-shadow: none;
    height: 100%;
    background-color: rgba(10, 25, 33, 1);
  }
}