.popup__close-icon {
  width: 21px;
  height: 21px;
  background-image: url(../../../images/close-icon.png);
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: center;
  position: absolute;
  top: 34px;
  right: 34px;
  z-index: 2;
}

@media screen and (max-width: 960px) {
  .popup__close-icon {
    top: 15px;
    right: 15px;
  }
}