.popup__close-icon {
  width: 21px;
  height: 21px;
  background-image: url(../../../images/close-icon.png);
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: center;
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .popup__close-icon {
    top: 20px;
    right: 20px;
  }
}