.footer__contact-icon_type_address {
  background-image: url(../../../../images/address-icon.png);
  width: 41px;
  height: 62px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer__contact-icon_type_address {
    width: 27px;
    height: 40px;
    margin-bottom: 6px;
  }
}