.footer__contact-icon_type_phone {
  background-image: url(../../../../images/phone-icon.png);
  width: 44px;
  height: 62px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer__contact-icon_type_phone {
    width: 31px;
    height: 42px;
    margin-bottom: 6px;
  }
}