/* Общие стили */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/hover-element/hover-element.css);
@import url(../blocks/hover-element/_type/hover-element_type_button.css);
@import url(../blocks/typography/__heading/_type/typography__heading_type_first.css);
@import url(../blocks/typography/__heading/_type/typography__heading_type_second.css);
@import url(../blocks/typography/__heading/_type/typography__heading_type_third.css);
@import url(../blocks/typography/__numbers/typography__numbers.css);
@import url(../blocks/typography/__text/typography__text.css);
@import url(../blocks/typography/__text/_type/typography__text_type_question-answer.css);
@import url(../blocks/typography/__text/_type/typography__text_type_second.css);
@import url(../blocks/typography/__text/_type/typography__text_type_button.css);
@import url(../blocks/typography/__text/_type/typography__text_type_link.css);

/* Частные стили */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__link-list/header__link-list.css);
@import url(../blocks/header/__link-item/header__link-item.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__phone/header__phone.css);
@import url(../blocks/header/__burger/header__burger.css);
@import url(../blocks/header/__info/header__info.css);
@import url(../blocks/header/__icon/header__icon.css);
@import url(../blocks/header/__icon/_type/header__icon_type_mail.css);
@import url(../blocks/header/__icon/_type/header__icon_type_phone.css);
@import url(../blocks/header/__icon/_type/header__icon_type_address.css);
@import url(../blocks/header/__info-block/header__info-block.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link-icon/header__link-icon.css);
@import url(../blocks/header/__link-icon/_type/header__link-icon_type_instagram.css);
@import url(../blocks/header/__link-icon/_type/header__link-icon_type_telegram.css);
@import url(../blocks/header/__link-icon/_type/header__link-icon_type_wa.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__container/intro__container.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__upper-block/intro__upper-block.css);
@import url(../blocks/intro/__lower-block/intro__lower-block.css);
@import url(../blocks/intro/__item/intro__item.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/intro/__invisible-oject/intro__invisible-oject.css);
@import url(../blocks/intro/__title/_type/intro__title_type_left.css);
@import url(../blocks/intro/__title/_type/intro__title_type_right.css);

@import url(../blocks/services/services.css);
@import url(../blocks/services/__container/services__container.css);
@import url(../blocks/services/__link/services__link.css);
@import url(../blocks/services/__title/services__title.css);
@import url(../blocks/services/__item/services__item.css);
@import url(../blocks/services/__item/_type/services__item_type_first.css);
@import url(../blocks/services/__item/_type/services__item_type_second.css);
@import url(../blocks/services/__item/_type/services__item_type_third.css);
@import url(../blocks/services/__item/_type/services__item_type_fourth.css);
@import url(../blocks/services/__item/_type/services__item_type_fifth.css);
@import url(../blocks/services/__item/_type/services__item_type_sixth.css);
@import url(../blocks/services/__mask/services__mask.css);

@import url(../blocks/process/process.css);
@import url(../blocks/process/__title/process__title.css);
@import url(../blocks/process/__accent/process__accent.css);
@import url(../blocks/process/__items/process__items.css);
@import url(../blocks/process/__item/process__item.css);
@import url(../blocks/process/__subtitle/process__subtitle.css);
@import url(../blocks/process/__button/process__button.css);
@import url(../blocks/process/__paragraph/process__paragraph.css);


@import url(../blocks/consultation/consultation.css);
@import url(../blocks/consultation/__container/consultations__container.css);
@import url(../blocks/consultation/__title/consultations__title.css);
@import url(../blocks/consultation/__subtitle/consultations__subtitle.css);
@import url(../blocks/consultation/__paragraph/consultations__paragraph.css);
@import url(../blocks/consultation/__button/consultations__button.css);

@import url(../blocks/reviews/reviews.css);
@import url(../blocks/reviews/__background/reviews__background.css);
@import url(../blocks/reviews/__container/reviews__container.css);
@import url(../blocks/reviews/__title/reviews__title.css);
@import url(../blocks/reviews/__block/reviews__block.css);
@import url(../blocks/reviews/__upper-block/reviews__upper-block.css);
@import url(../blocks/reviews/__info-profile/reviews__info-profile.css);
@import url(../blocks/reviews/__image/reviews__image.css);
@import url(../blocks/reviews/__info/reviews__info.css);
@import url(../blocks/reviews/__name/reviews__name.css);
@import url(../blocks/reviews/__location/reviews__location.css);
@import url(../blocks/reviews/__paragraph/reviews__paragraph.css);
@import url(../blocks/reviews/__buttons/reviews__buttons.css);
@import url(../blocks/reviews/__button/reviews__button.css);
@import url(../blocks/reviews/__button/_type/reviews__button_type_left.css);
@import url(../blocks/reviews/__button/_type/reviews__button_type_right.css);
@import url(../blocks/reviews/__mid-block/reviews__mid-block.css);
@import url(../blocks/reviews/__lower-block/reviews__lower-block.css);

@import url(../blocks/questions/questions.css);
@import url(../blocks/questions/__container/questions__container.css);
@import url(../blocks/questions/__image/questions__image.css);
@import url(../blocks/questions/__image/_type/questions__image_type_left.css);
@import url(../blocks/questions/__image/_type/questions__image_type_right.css);
@import url(../blocks/questions/__title/questions__title.css);
@import url(../blocks/questions/__paragraph/questions__paragraph.css);
@import url(../blocks/questions/__block/questions__block.css);
@import url(../blocks/questions/__subtitle/questions__subtitle.css);
@import url(../blocks/questions/__subtitle/_type/questions__subtitle_type_dark.css);
@import url(../blocks/questions/__list/questions__list.css);
@import url(../blocks/questions/__list-item/questions__list-item.css);
@import url(../blocks/questions/__list-paragraph/questions__list-paragraph.css);
@import url(../blocks/questions/__list-paragraph/_type/questions__list-paragraph_type_active.css);
@import url(../blocks/questions/__list-title/questions__list-title.css);
@import url(../blocks/questions/__question/questions__question.css);
@import url(../blocks/questions/__icon/questions__icon.css);
@import url(../blocks/questions/__icon/_type/questions__icon_type_active.css);

@import url(../blocks/team/team.css);
@import url(../blocks/team/__title/team__title.css);
@import url(../blocks/team/__paragraph/team__paragraph.css);
@import url(../blocks/team/__items/team__items.css);
@import url(../blocks/team/__item-block/team__item-block.css);
@import url(../blocks/team/__image/team__image.css);
@import url(../blocks/team/__name/team__name.css);
@import url(../blocks/team/__job/team__job.css);

@import url(../blocks/clients/clients.css);
@import url(../blocks/clients/__title/clients__title.css);
@import url(../blocks/clients/__paragraph/clients__paragraph.css);
@import url(../blocks/clients/__items/clients__items.css);
@import url(../blocks/clients/__item-block/clients__item-block.css);
@import url(../blocks/clients/__item/clients__item.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__upper-block/footer__upper-block.css);
@import url(../blocks/footer/__logo-block/footer__logo-block.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__socials/footer__socials.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__social-icon/_type/footer__social-icon_type_instagram.css);
@import url(../blocks/footer/__social-icon/_type/footer__social-icon_type_telegram.css);
@import url(../blocks/footer/__social-icon/_type/footer__social-icon_type_whatsapp.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__contact-block/footer__contact-block.css);
@import url(../blocks/footer/__contact-icon/footer__contact-icon.css);
@import url(../blocks/footer/__contact-icon/_type/footer__contact-icon_type_mail.css);
@import url(../blocks/footer/__contact-icon/_type/footer__contact-icon_type_phone.css);
@import url(../blocks/footer/__contact-icon/_type/footer__contact-icon_type_address.css);
@import url(../blocks/footer/__contact-name/footer__contact-name.css);
@import url(../blocks/footer/__contact-text/footer__contact-text.css);
@import url(../blocks/footer/__lower-block/footer__lower-block.css);
@import url(../blocks/footer/__politics/footer__politics.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_consultation.css);
@import url(../blocks/popup/__container/_type/popup__container_type_order.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__image-block/popup__image-block.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image/_type/popup__image_type_consultation.css);
@import url(../blocks/popup/__image/_type/popup__image_type_order.css);
@import url(../blocks/popup/__cursor/popup__cursor.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__title/_type/popup__title_type_order.css);
@import url(../blocks/popup/__paragraph/popup__paragraph.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__image-block/_type/popup__image-block_type_order.css);
@import url(../blocks/popup/__form-order/popup__form-order.css);
@import url(../blocks/popup/__image-block/_type/popup__image-block_type_order.css);
@import url(../blocks/popup/__subparagraph/popup__subparagraph.css);