.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid #BB8E5D;
  margin-right: 30px;
  box-sizing: border-box;
}

.form__item_type_original:checked + .form__pseudo-item_type_radio {
  background-image: url(../../../images/radio-bg.png);
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.form__item_type_original:disabled + .form__pseudo-item_type_radio {
  background-color: transparent;
}

@media screen and (max-width: 1600px) {
  .form__pseudo-item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .form__pseudo-item {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .form__pseudo-item {
    width: 20px;
    height: 20px;
  }
  .form__item_type_original:checked + .form__pseudo-item_type_radio {
    background-size: 8px 8px;
  }
}
