.calculator__reset-icon {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/reset-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .calculator__reset-icon {
    width: 16px;
    height: 16px;
  }
}