.process__subtitle {
  letter-spacing: 0.05em;
  color: #BB8E5D;
  margin: 0 0 20px 0;
}

.process__subtitle:before {
  content: url(../../../images/subtitle-icon.png);
  width: 19px;
  height: 21px;
  margin: 0 13px 0 0;
}