.search__letters {
  width: 100%;
  max-width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1280px) {
  .search__letters {
    height: 20px;
  }
}