.clients__paragraph {
  position: relative;
  margin: 0 0 50px 0;
}

.clients__paragraph:before {
  content: url(../../../images/before-content.png);
  top: 5px;
  left: -60px;
  position: absolute;
  opacity: 1;
  color: inherit;
}