.questions__icon {
  background-image: url(../../../images/chess-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 54px;
  height: 54px;
}

.questions__list-paragraph_type_active  .questions__icon {
  background-image: url(../../../images/chess-icon-active.png);
}

@media screen and (max-width: 1024px) {
  .questions__icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }  
}