.service__marketing-image-block {
  position: relative;
  width: 39%;
  height: 374px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 1680px) {
  .service__marketing-image-block {
    height: 300px;
  }
}

@media screen and (max-width: 1280px) {
  .service__marketing-image-block {
    height: 270px;
    width: 75px;
  }
}