.reviews__upper-block {
  display: flex;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 34px 34px 20px;
  margin-bottom: 73px;
  width: 720px;
  flex-direction: column;
  -webkit-box-shadow: 0px -9px 10px -9px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -9px 10px -9px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -9px 10px -9px rgba(0, 0, 0, 0.9);
  z-index: 3;
}

@media screen and (max-width: 1350px) {
  .reviews__upper-block {
    width: 100%;
  }  
}

@media screen and (max-width: 1024px) {
  .reviews__upper-block {
    margin-bottom: 20px;
  }  
}

@media screen and (max-width: 768px) {
  .reviews__upper-block {
    padding: 10px;
    margin-bottom: 0;
  }
}