.advantages__paragraph {
  margin: 0 0 73px 0;
}

@media screen and (max-width: 1024px) {
  .advantages__paragraph {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__paragraph {
    margin: 0 0 20px 0;
  }
}