.reviews__block {
  display: flex;
}

@media screen and (max-width: 1350px) {
  .reviews__block{
    width: 58%;
  }  
}

@media screen and (max-width: 1024px) {
  .reviews__block{
    width: 100%;
  }  
}