.advantages__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  column-gap: 270px;
  row-gap: 90px;
}

@media screen and (max-width: 1600px) {
  .advantages__items {
    gap: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .advantages__items {
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .advantages__items {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__items {
    grid-template-columns: 1fr;
  }
}