.questions__paragraph {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  font-family: 'Zen Antique';
  margin: 0 auto 100px auto;
  max-width: 771px;
  text-align: center;
}



@media screen and (max-width: 1280px) {
  .questions__paragraph {
    font-size: 20px;
    max-width: 500px;
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 768px) {
  .questions__paragraph {
    font-family: 'Old standart';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    max-width: 276px;
    margin-bottom: 81px;
  }
}