.intro__upper-block {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 560px;
}

@media screen and (max-width: 1024px) {
  .intro__upper-block {
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .intro__upper-block {
    margin-top: 37px;
    
  }
}